body{
    background: url(img/containerbackground.gif) repeat-y center;
    margin: 0px;
    background-color: white;
}

#container{
    margin-right: auto;
    margin-left: auto;
    width: 633px;
    
}

#pageHeader{
    background: url(img/top.gif) no-repeat center center;
    width: 600px;
    margin-left: 20px;
    height: 330px;
    
}

#pageHeader h1{
    display: none;
}

#quickSummary{
    display: inline-flex;
    flex: 1;
    justify-content: space-around;
    width: 192px;
    background: url(img/summary.gif) no-repeat top center;
    margin-right: 36px;
    padding-top: 45px;
    
}