body{
    font-family: proxima-nova,Helvetica,Arial,sans-serif;
}
.all-body{
    margin-left: 80px;
    width: 88%;
}
.link ul li{
    list-style: none;
    display: inline-flex;
}
.link ul li a{
    text-decoration: none;
    color: #a0072a;
    font-size: 12px;
}
.link ul li a:hover{
    text-decoration: underline;
}
.link hr{
    border: 4px solid #000;
}
.signin{
    display: flex;
    justify-content: flex-end;
}
.signin ul{
    list-style: none;
    flex-wrap: wrap;
}
.signin ul li{
    display: inline;
}
.signin ul li a{
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}
.all{
    display: flex;
    border-bottom: 1px solid black;
}
.logo{
    margin-left: 200px;
}
.logo img{
    width: 100px;
    margin-right: 20px;
}
.name h2{
    margin-bottom: -5px;
}
.info ul{
    list-style: none;
    display: inline-flex;
    margin-left: -35px;
}

.info ul li a{
    text-decoration: none;
    color: #000;
}
.menu{
    width: 80%;
    margin-left: 20px;
}
.menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.menu ul li a{
    text-decoration: none;
    color: #000;
}
.menu ul li a:hover{
    text-decoration: underline;
    text-decoration-color: #a0072a;
    text-decoration-style: double;
}
@keyframes slider{
    0%{
        left: 0;
    }
    20%{
        left: 0;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}
    .slider{
        overflow: hidden;
    }
    .slider figure img{
        width: 20%;
        float: left;
    }
    .slider figure{
        position: relative;
        width: 500%;
        margin: 0;
        left: 0;
        text-align: left;
        font-size: 0;
        animation: 20s slider infinite;
    }
.pod-menu{
    width: 60%;
    margin-top: 50px;
}
.paragraf1{
    font-size: 15px;
    font-weight: bold;
    display: inline-flex;
}
.paragraf1-1{
    display: inline-flex;
}
.paragraf1-1 a{
    text-decoration: none;
    color: #a0072a;
    font-size: 15px;
}
.paragraf2{
    width: 60%;
    margin-top: 40px;
    font-size: 15px;
}
.show-more{
}
.show-more a{
    text-decoration: none;
    color: #a0072a;
    font-weight: bold;
}
.review h2{
    text-align: center;
    margin-top: 160px;
}
.all-2{
    display: flex;
}
.review1-1{
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex: 1;
}
.clean{
    display: inline-flex;
}
.recommended{
    flex: 1;
}
.points{
    display: flex;
    background: #f4f4f4;
    border-bottom: 7px solid #a0072a;
}
.img-points{
    flex: 1;
}
.img-points img{
    width: 200px;
    margin-top: 20px;
}
.credit-card{
    flex: 1;
    display: flex;
}
.c1{
    flex: 1;
    line-height: 1;
    margin-top: 25px;
    
}
.c1 h3{
    font-weight: bold;
}
.c2{
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
}
.c2 a{
    text-decoration: none;
    display: block;
    width: 115px;
    height: 25px;
    background: #444054;
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bold;
}
.all-key{
    display: flex;
}
.key{
    width: 70%;
    flex: 1;
}
.key ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.buttons{
    flex: 1;
}
.button-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.button-1 a{
    text-decoration: none;
    display: block;
    width: 200px;
    height: 25px;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.button-1 a:hover{
    background-color: #000;
    color: #fff;
}
.button-2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
}
.button-2 a{
    text-decoration: none;
    display: block;
    width: 200px;
    height: 25px;
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
    color: #000;
    font-weight: bold;
}
.button-2 a:hover{
    background-color: #000;
    color: #fff;
}
.key-amenities h2{
    text-align: center;
    margin-top: 60px; 
}
.border hr{
    margin-top: 50px;
    border-color: #a0072a;
    width: 95%;
}
.empty{
   content: "";
    margin-top: 50px;
    margin-bottom: 50px;
}
.empty img{
    width: 100%;
    height: 70px;
}
.highlights h1{
    text-align: center;
    margin-top: 60px; 
}
.hh{
    display: flex;
    width: 90%;
}
.h-1{
    flex: 1;
    margin-right: 10px;
}
.h-2{
    flex: 1;
    margin-right: 10px;
}
.h-3{
    flex: 1;
}
.hh a{
   color: #db002e; 
}
.border-2 hr{
    width: 95%;
    margin-top: 50px;
}
.tripadvisor{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 600px;
}

.rooms{
    text-align: center;
    background: #f4f4f4;
}
.rooms h2{
    margin-top: 60px;
}
.all-rooms{
    display: flex;
}
.room1{
    flex: 1;
    background: #fff;
}
.room2{
    flex: 1;
    background: #fff;
}
.room3{
    flex: 1;
    background: #fff;
}
.all-rooms h3,
.all-rooms p, 
.all-rooms button{
}
.all-rooms button{
    padding: 15px;
    background-color: #a0072a;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
}
.view-all-rooms{
    text-align: center;
    margin-top: 50px;
}
.view-all-rooms button{
    padding: 15px;
    font-weight: bold;
    font-size: 15px;
    border: 1px solid #000;
    background-color: #fff;
}
.promotions{
    text-align: center;
    margin-top: 150px;
}
.all-prom{
    display: flex;
}
.promotions-1{
    flex: 1;
    margin-right: 10px;
}
.promotions-2{
    flex: 1;
    margin-right: 10px;
}
.promotions-3{
    flex: 1;
}
.all-prom h3,
.all-prom p,
.all-prom a{
}
.all-prom a{
    text-decoration: none;
    color: #db002e;    
}
.reward{
    text-align: center;
}
.reward img{
    margin-top: 60px;
}
.mind-travel{
    display: flex;
}
.photo{
    flex: 1;
}
.photo img{
    width: 800px;
    margin-top: 100px;
}
.text-travel{
    flex: 1;
    margin-top: 100px;
    margin-left: 50px;
    
}
.text-travel button{
    padding: 10px 20px 10px 20px;
    background-color: #a0072a;
    color: #fff;
    font-weight: bold;
}
.everyday{
    display: flex;
    margin-top: 60px;
}
.text-2{
    flex: 1;
    margin-right: 40px;
}
.text-2 button{
    padding: 10px 20px 10px 20px;
    background-color: #a0072a;
    color: #fff;
    font-weight: bold;
}
.photo-2{
    flex: 1;
}
.photo-2 img{
    width: 800px;
}

.title h2 a{
    text-decoration: none;
    color: #a0072a;
}
.select-date{
    margin-top: 100px;
    margin-bottom: 50px;
}
.all-select{
    display: flex;
}
.select-menu{
    flex: 1;
}
.select{
    flex: 1;
}
.view-rates button{
    padding: 13px 150px 13px 150px;
    background-color: #a0072a;
    color: white;
    font-weight: bold;
}
.view-rates button:hover{
    background-color: #63020a;
}
.menu-down{
    width: 1100px;
}
.menu-down ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-down ul li a{
    text-decoration: none;
    color: #a0072a;
}
@media(max-width: 800px){
    header, .slider, .all-body{
        width: 100%;
        padding: 0;
    }
}
@media(max-width: 500px){
    header, .slider, .all-body{
        width: 100%;
    }
}
